@fontSizeXXXXL: 46px;
@fontSizeXXXL: 38px;
@fontSizeXXL: 28px;
@fontSizeXL: 20px;
@fontSizeL: 18px;
@fontSizeM: 16px;
@fontSizeS: 14px;
@fontSizeXS: 12px;
@fontSizeXXS: 10px;
@fontWeightLight: 300;
@fontWeightNormal: 400;
@fontWeightMedium: 500;